$max-width: 1440px;
$border-radius: 12px;
$border-full: 100rem;
/* colors */

$bg: #f1f1f1;
$primary-000: #dde3e7;
$primary-100: #8c98a4;
$secondary-000: #20212a;
$secondary-100: #15161e;
$green: #86d26b;

$xs: 0.25rem;
$sm: 0.5rem;
$md: 1rem;
$lg: 1.25rem;
$xl: 1.5rem;
$xxl: 2rem;

$font-body: "Noto Sans", sans-serif;

.noto-sans-light {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.noto-sans-regular {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.noto-sans-semibold {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.wrapper {
  background-color: $bg;
}
